* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.logo img {
    width: 120px;
}

h1 {
    color: white;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
}

h1>span {
    color: rgb(134, 0, 0);
}

.container {
    display: flex;
    height: 80vh;
    color: whitesmoke;
    font-size: 1.5rem;
    text-shadow: 0px 0px 10px red, 0px 0px 30px rgb(61, 0, 110);
    ;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    align-items: center;
    height: 5vh;
}

footer p {
    color: white;
}

/*Card de productos*/

ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}


.card {
    border-radius: 20;
    box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.5);
    background-color: black;
    color: white;
    width: 30vw;
    display: flex;
    align-items: center;
    margin: 15px;
    padding: 10px;
    justify-content: center;
}

.card button{
    background-color: black;
    color: whitesmoke;
    border-color: black;
    border-style: none;
    cursor: pointer;
}
.card button:hover{
    color:#e00202;
}
.card h3 {
    height: 40%;
}

.card:hover {
    box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.8); 
}

.card img {
    filter: invert(100%);
    height: 50px;    
}

.ERROR {
    font-size: 80px;
    font-weight: 800;
    text-shadow: 2px 2px #e00202;
    text-align: center;
}

.carrito {
    filter: invert(100%);
    height: 70px;
    width: 70px;
    justify-self: flex-end;
    cursor: pointer;
}
#carrito {
    height: 100%;
    width: auto;
}

.modalContainer {
    width: 80%;
    margin: 0 , 10%;
    max-height: 85vh;
    color: whitesmoke;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 5;
    top: 15vh;
    scrollbar-color: none;
}
.modalContainer::-webkit-scrollbar{
    display: none;
}

.modalHeader {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: whitesmoke;
    width: 100%;
}

.tituloCarrito {
justify-self: start;
}

.modalBotonCierre {
    cursor: pointer;
}

.modalContainer > .carritoContenido {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 15px;
}

.modalContainer > div > img {
    height: 50px;
    width: 50px;
    filter: invert(100%);
}

.totalPrecio {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}